@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    margin-top: 50%;
    font-family: 'Roboto', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.big-number{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

h1{
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    body {
      margin-top: 50%;
    }
  
    .big-number {
      font-size: 1.5rem;
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
    }
  }